.widget-holder {
	border:#999 3px dashed;
	min-height: 50px;
}
.ui-sortable {
	min-height:100px;
}

  .item-list-container" {
             overflow-y: scroll;
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
        }
        .item-list-container::-webkit-scrollbar { 
            width: 0;
            height: 0;
        }