#pin-login {
    background: #FFF;
    border-top: solid 1px #EEE;
    padding: 20px;
}
.pin-keyboard-button {
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
}
#pin-keyboard {
    background: #FFF;
    padding: 20px;
}
.d-flex {
    display: flex;
}
.mb-20 {
    margin-bottom: 20px;
}